database.password=
database.username=
database.tracktable=
database.db=
database.host=
database.url=jdbc:postgresql://${database.host}/${database.db}?user=${database.username}&password=

metadatadb.password=
metadatadb.username=
metadatadb.table=
metadatadb.db=
metadatadb.host=
metadatadb.url=jdbc:postgresql://${metadatadb.host}/${metadatadb.db}?user=${metadatadb.username}&password=

broker.host=
broker.port=
broker.username=
broker.password=
broker.vhost=

broker.handoff.host=
broker.handoff.port=
broker.handoff.username=
broker.handoff.password=
broker.handoff.vhost=

broker.queues.ingestrequests=
broker.queues.trigger=
broker.queues.recover=
broker.queues.directorylist=
broker.queues.movecomplete=
broker.queues.metscomplete=
broker.queues.altoscomplete=
broker.queues.complexgenerated=
broker.queues.continuerecover=

broker.exchanges.copy_file=
broker.exchanges.create_zip=
broker.exchanges.embed_alto=
broker.exchanges.generate_mets=
broker.exchanges.hand_off=
broker.exchanges.list_directory=
broker.exchanges.create_jp2=
broker.exchanges.rm_private_dir=

elasticsearch.host=
elasticsearch.port=
elasticsearch.index=

ftpDestination.cegesoma.host=
ftpDestination.cegesoma.username=
ftpDestination.cegesoma.password=
ftpDestination.cegesoma.path=

ftpsource.cegesoma.host=
ftpsource.cegesoma.username=
ftpsource.cegesoma.password=

ftpDestination.inuits.host=
ftpDestination.inuits.username=
ftpDestination.inuits.password=
ftpDestination.inuits.path=

pidservice.host=
pidservice.port=
pidservice.path=

sourcefiles.basepath=
private_dir=
hosted_at=

sensor.host=
sensor.path=
sensor.id=
sensor.username=
sensor.password=
sensor.maxinprogress=